/*
   border colors
*/

$border-light: #dfe5f5;
$border-indigo: #5D2BFF;

/*
    text colors
*/

$label-text: #5c6688;
$label-white: #ffffff;

/*
    background colors
*/

$background-hover: #F2F5FF;
$background-light: #f9f9f9;
$background-indigo: #5D2BFF;
$background-white: #ffffff;