@import './spacing.scss';
@import './colors.scss';

@mixin form-element-wrapper {
  display: flex;
  flex-direction: column;
  margin: $spacing-m $spacing-m $spacing-m 0;
}

@mixin form-element-label {
  padding: $spacing-xs 0;
  color: $label-text;
}

@mixin form-element-field {
  border: none;
  border-bottom: 1px solid $border-light;

  &:focus {
    outline: none;
    border-bottom: 2px solid $border-indigo;
  }
}