@import './colors.scss';


$border-primary: 1px solid $border-light;
$border-focused: 2px solid $border-indigo;

$box-shadow-primary: 0px 4px 6px rgba(60, 63, 88, 0.07), 0px 5px 15px rgba(60, 63, 88, 0.1);