@import '../../../styles/colors.scss';
@import '../../../styles/spacing.scss';
@import '../../../styles/variables.scss';


.table-wrapper {
  width: 100%;
  border: $border-primary;
  margin: $spacing-xl 0;
  background-color: $background-white;

  thead {
    border-bottom: $border-primary;
  }

  th {
    padding: $spacing-xl;
    color: $label-text;
    border-right: $border-primary;
  }

  td {
    padding: $spacing-xl;
    text-align: center;
    border-right: $border-primary;
    border-bottom: $border-primary;
  }

  tbody {
    tr {
      &:hover {
        background-color: $background-hover;
      }
    }
  }
}