@import '../../../styles/colors.scss';
@import '../../../styles/spacing.scss';


.table-wrapper {
  width: 100%;
  border: 1px solid $border-light;
  margin: $spacing-xl 0;

  thead {
    border-bottom: 1px solid $border-light;
  }

  th {
    padding: $spacing-xl;
    color: $label-text;
    border-right: 1px solid $border-light;
  }

  td {
    padding: $spacing-xl;
    text-align: center;
    border-right: 1px solid $border-light;
    border-bottom: 1px solid $border-light;
  }

  tbody {
    tr {
      &:hover {
        background-color: $background-light;
      }
    }
  }
}