@import '../../../styles/colors.scss';
@import '../../../styles/spacing.scss';
@import '../../../styles/variables.scss';

.time-entry-wrapper {
  border: $border-primary;
  padding: $spacing-s;
  background-color: $background-white;

  .section {
    margin-bottom: $spacing-s;
    display: flex;

  }
}